@using Microsoft.AspNetCore.Http;

@{
    ViewData["Title"] = "Inicio";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido</h1>
    @if (Context.Session.GetString("mail") != null)
    {
        <p>Ha iniciado sesión cómo @Context.Session.GetString("mail")</p>
    }
    else
    {
        <p><a asp-area="" asp-controller="Usuario" asp-action="Login">Inicie sesión</a> para utilizar el sistema.</p>
    }
</div>

@ViewBag.msg